:root {
  --primary: rgb(71, 69, 69);
  --secondary: #ccc;
  --border: rgb(221, 219, 219);
  --background: rgb(243, 243, 243);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  font-size: 1.4rem;
}

i {
  cursor: pointer;
  color: var(--secondary);
}

section {
  background-color: #fff;
  width: 50%;
  min-width: 300px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  border-bottom: 1px solid var(--border);
  padding: 1.2rem 1.5rem;
  color: var(--primary);
  justify-content: space-between;
}

form button {
  background-color: transparent;
  border: none;
  padding: 0.6rem;
}

form button i {
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 400;
}

.header i {
  transform: rotate(90deg);
  font-size: 18px;
}

form > div {
  border-bottom: 1px solid var(--border);
  padding: 0.7rem 1.5rem;
  justify-content: space-between;
  width: 100%;
}

form input {
  border: none;
  outline: none;
  min-width: 250px;
  padding: 0.8rem 0;
  flex: 1;
}

form input,
form input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
  color: rgb(131, 130, 130);
}

.tasks-list {
  min-width: 100%;
}

.tasks-list li {
  width: 100%;
  list-style: none;
  border-bottom: 1px solid var(--border);
  padding: 0.7rem 1.2rem;
}

.tasks-list li label {
  margin-left: 6px;
  font-size: inherit;
  color: var(--primary);
  cursor: pointer;
}

/* .tasks-list li label.compeleted {
  text-decoration: line-through;
  font-style: italic;
  color: var(--secondary);
} */

.tasks-list li i:hover {
  color: var(--primary);
  cursor: pointer;
}

.clear-btn button {
  width: 100%;
  font-size: inherit;
  padding: 1.2rem;
  border: none;
  outline: none;
  color: var(--secondary);
  background-color: var(--background);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.task-container .task-details {
  flex: 1;
  display: flex;
  padding: 0 1rem;
}

.task-container .task-details span {
  margin-left: 6px;
  font-size: inherit;
  color: var(--primary);
}

.task-container .task-details span.compeleted {
  text-decoration: line-through;
}

.task-container .task-details input {
  border: none;
  font-size: inherit;
  color: var(--primary);
  outline: none;
  flex: 1;
  display: none;
  background-color: transparent;
}

.task-container .task-action-btns button {
  width: 2.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.6rem 0;
}

.task-container .task-action-btns button:last-child {
  display: none;
}

.edit-task-form {
  flex: 1;
  display: flex;
}

.task-container .task-action-btns button i {
  font-size: 1.2rem;
}

.task-container.edit-mode {
  background-color: #faf3db;
}

.task-container.edit-mode .task-action-btns button:last-child {
  display: block;
}

.task-details.completed span {
  text-decoration: line-through;
}

.task-container.edit-mode .task-action-btns button:first-child {
  display: none;
}

.task-container.edit-mode .task-details input {
  display: block;
}

.task-container.edit-mode .task-details span {
  display: none;
}
